block meta
  //- This block is empty on purpose; so each page can override the meta object

doctype html
html(lang='en')
  +norska_head
  body.bg-black.gray.h-100vh
    block content
  +norska_scripts
