extends /_includes/layouts/core

block meta
  - meta.title = "Mind Reading"
  - meta.description = "Let me read your mind"

block content
  .container.mx-auto.flex.flex-col.h-100p
    .relative.flex.h-33p.justify-center.items-center
      .absolute.inset-0
        .flex.justify-center.items-center.h-100p
          #js-countdown.text-9.bold.gray-7.text-shadow
      img.mx-auto.max-h-100p(src=`${url.pathToRoot}assets/eyes.jpg`)
    +step.flex-1.flex.justify-top.items-center.flex-col
      .text-8.text-center.bold.gray-5.helvetica I'm going to read your mind.
      .text-7.text-center.bold.gray-5.helvetica.mt-1 Are you ready?
      .mt-5
        +next("I'm ready!")
    +step.mx-auto.relative(data-countdown="10")
      .text-7.text-center.bold.gray-5.helvetica I want you to concentrate on one card for 10 seconds
      .flex
        +cards(['KH', 'JC', 'KS', 'QD', 'QC', 'JD'])
    +step(data-countdown="5")
      .text-7.text-center.bold.gray-5.helvetica Now, look me in the eyes and think about your card
    +step.mx-auto.relative
      .text-7.text-center.bold.gray-5.helvetica Your card is gone!
      .flex
        +cards(['QH', 'KC', 'JH', 'QS', 'KD'])
